<navigation> </navigation>
<!-- Header -->
<div class="font">
  <!-- <div class="bg"
        style="background: url('https://demo.w3layouts.com/demos_new/template_demo/26-03-2019/aegis_demo_Free/1054937215/web/images/banner1.jpg') no-repeat center;max-width: 100%;">
        <div class="container">
            <div class="row tex-center img-responsive">
                <div class="col-md-7">
                    <div class="caption">
                        <h1 class="lg">FIND THE BEST COURSE FOR YOU</h1>
                        <div class="input-group mb-3">
                            <input type="text" class="ipsearch" placeholder="   Course search . . ."
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button type="button" class="btn btnsearch">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div> -->
  <!-- Body -->
  <div class="container mt-5">
    <h3 class="mb-0 text-center" style="color: #001744;">
      Vui lòng chọn môn thi ở dưới
    </h3>
    <div class="row m-auto home">
      <div
        class="col-md-3 px-1 py-5"
        style="width: 18rem;"
        *ngFor="let item of list | paginate: config"
      >
        <div class="card subject logo text-center p-3">
          <a
            *ngIf="checkTime(item.start_time, item.end_time)"
            [routerLink]="['/index', item.Id]"
            routerLinkActive="router-link-active"
          >
            <img
              src=" {{ item.Logo }}"
              class="card-img-top"
              alt="..."
              style="max-width: 100%;margin: auto;"
            />
            {{ item.Name }}
          </a>
          <div
            *ngIf="!checkTime(item.start_time, item.end_time)"
            class="disabled-subject"
          >
            <div
              class="description d-flex align-items-center justify-content-center"
            >
              Chưa đến giờ thi
            </div>
            <img
              src=" {{ item.Logo }}"
              class="card-img-top"
              alt="..."
              style="max-width: 100%;margin: auto;"
            />
            {{ item.Name }}
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="float-left">
        Showing {{ config.currentPage }} of
        {{ subject.length / config.itemsPerPage | number: '1.0-0' }}
      </div>
      <div class="mt-2">
        <pagination-controls
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
<tp-footer> </tp-footer>
