.nav-item {
  margin: 0px 15px;
}

.lg > a {
  //  color: #ffffff;
  color: #001744 !important;
}
.nav-link-icon {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
.nav-link-icon > i {
  margin-right: 6px;
}
.nav-link-inner--text {
  font-size: 15px;
}
//  .navbar-nav{
//    flex-direction: row;
//  }
.bg-dark {
  font-family: 'Open Sans', Arial, serif;
}
.nav-link {
  font-size: 18px;
  color: #001744 !important;
}
.fa {
  padding: 10px;
}
.nav-link-icon :hover {
  color: #ffffff;
}
